<!DOCTYPE html>
    <head>
	<link  rel="stylesheet" href="css/main.css">
	<link  rel="stylesheet" href="../css/main.css">
	<script src="js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
<div class="wrapper">
<ul class="menu">
	<li class="menu_cell"><a href="../test1/index.html">Вариант 1</a></li>
	<li class="menu_cell"><a href="../test2/index.html">Вариант 2</a></li>
	<li class="menu_cell"><a href="../test3/index.html">Вариант 3</a></li>
	<li class="menu_cell"><a href="../test4/index.html">Вариант 4</a></li>
	<li class="menu_cell"><a href="../test5/index.html">Вариант 5</a></li>
	<li class="menu_cell"><a href="../test6/index.html">Вариант 6</a></li>
</ul>
<div class="testimonial avatar_on">
	<div class="testimonial_inner">
		<div class="testimonial_caption"><h4>Intuitive Website Solutions, inc.Website<!--x--></h4></div>
		<div class="testimonial_image"><img class="avatar" src="ava.jpg" alt=""></div>
		<div class="testimonial_text"><p>Were do I send the Beer! You guys are awesome. You are my Joomla, PHP, MySql go to guru and will always come to you for all my trouble shooting and custom development needs. By the way I had a call today from another client that was having the same problem that you found a fix for, she had never checked her site after the php upgrade like I and requested, so I did as you did and all works fine on that site now. Looks to me as the problem was with the php upgrade (cmod/file owner changes were made) like you said in the beginning. I had paid two other companies to fix this issue but they could not figure it out. Just wanted to let you know how grateful I am to you and your team. Please share with your team.</p>
			<div class="testimonial_text_separator"><!--x--></div>
		</div>
	<div class="testimonial_author">Robert McLeod <a href="http://www.iws3.com" name="testimonial_link" target="_blank">www.iws3.com</a><!--x--></div>
	<div class="testimonial_author_descr">President Intuitive Website Solutions, inc.  <b><!--x--></b></div>
	<div class="tm_clr"><!--x--></div>
	</div>
</div>
<div class="testimonial avatar_on">
	<div class="testimonial_inner">
		<div class="testimonial_caption"><h4>Intuitive Website Solutions, inc.Website<!--x--></h4></div>
		<div class="testimonial_image"><img class="avatar" src="ava.jpg" alt=""></div>
		<div class="testimonial_text"><p>Were do I send the Beer! You guys are awesome.</p>
			<div class="testimonial_text_separator"><!--x--></div>
		</div>
	<div class="testimonial_author">Robert McLeod <a href="http://www.iws3.com" name="testimonial_link" target="_blank">www.iws3.com</a><!--x--></div>
	<div class="testimonial_author_descr">President Intuitive Website Solutions, inc.  <b><!--x--></b></div>
	<div class="tm_clr"><!--x--></div>
	</div>
</div>
<div class="testimonial avatar_on">
	<div class="testimonial_inner">
		<div class="testimonial_caption"><h4>Intuitive Website Solutions, inc.Website<!--x--></h4></div>
		<div class="testimonial_image"><img class="avatar" src="ava.jpg" alt=""></div>
		<div class="testimonial_text"><p>Were do I send the Beer! You guys are awesome. You are my Joomla, PHP, MySql go to guru and will always come to you for all my trouble shooting and custom development needs. By the way I had a call today from another client that was having the same problem that you found a fix for, she had never checked her site after the php upgrade like I and requested, so I did as you did and all works </p>
			<div class="testimonial_text_separator"><!--x--></div>
		</div>
	<div class="testimonial_author">Robert McLeod <a href="http://www.iws3.com" name="testimonial_link" target="_blank">www.iws3.com</a><!--x--></div>
	<div class="testimonial_author_descr">President Intuitive Website Solutions, inc.  <b><!--x--></b></div>
	<div class="tm_clr"><!--x--></div>
	</div>
</div>
<div class="testimonial avatar_on">
	<div class="testimonial_inner">
		<div class="testimonial_caption"><h4>Intuitive Website Solutions, inc.Website<!--x--></h4></div>
		<div class="testimonial_image"><img class="avatar" src="ava.jpg" alt=""></div>
		<div class="testimonial_text"><p>Were do I send the Beer! You guys are awesome.</p>
			<div class="testimonial_text_separator"><!--x--></div>
		</div>
	<div class="testimonial_author">Robert McLeod <a href="http://www.iws3.com" name="testimonial_link" target="_blank">www.iws3.com</a><!--x--></div>
	<div class="testimonial_author_descr">President Intuitive Website Solutions, inc.  <b><!--x--></b></div>
	<div class="tm_clr"><!--x--></div>
	</div>
</div>
<div class="testimonial avatar_on">
	<div class="testimonial_inner">
		<div class="testimonial_caption"><h4>Intuitive Website Solutions, inc.Website<!--x--></h4></div>
		<div class="testimonial_image"><img class="avatar" src="ava.jpg" alt=""></div>
		<div class="testimonial_text"><p>Were do I send the Beer! You guys are awesome. You are my Joomla, PHP, MySql go to guru and will always come to you for all my trouble shooting and custom development needs. By the way I had a call today from another client that was having the same problem that you found a fix for, she had never checked her site after the php upgrade like I and requested, so I did as you did and all works </p>
			<div class="testimonial_text_separator"><!--x--></div>
		</div>
	<div class="testimonial_author">Robert McLeod <a href="http://www.iws3.com" name="testimonial_link" target="_blank">www.iws3.com</a><!--x--></div>
	<div class="testimonial_author_descr">President Intuitive Website Solutions, inc.  <b><!--x--></b></div>
	<div class="tm_clr"><!--x--></div>
	</div>
</div>
</div>



    </body>
</html>